---
import HeaderLink from './HeaderLink.astro'
import { ThemeToggleButton } from './ThemeToggleButton'
import { getRelativeLocaleUrlList, getRelativeLocaleUrl } from 'astro:i18n'

const navItems = [
  {
    title: 'Experiencia',
    label: 'experiencia',
    url: `${getRelativeLocaleUrl('es', '#experience')}`,
  },
  {
    title: 'Proyectos',
    label: 'proyectos',
    url: '/#proyectos',
  },
  {
    title: 'Sobre mí',
    label: 'sobre-mi',
    url: '/#sobre-mi',
  },
  {
    title: 'Contacto',
    label: 'contacto',
    url: 'mailto:facundopascale@gmail.com',
  },
]

const localeUrls = getRelativeLocaleUrlList()
---

<header
  class="fixed flex flex-row w-auto p-2 z-20 self-center justify-between items-center"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center my-1 gap-4"
  >
    {
      navItems.map((link) => (
        <HeaderLink aria-label={link.label} href={link.url}>
          {link.title}
        </HeaderLink>
      ))
    }
    {
      localeUrls.map((lg) => (
        <a href={lg} class="inline-block p-1">
          {lg}
        </a>
      ))
    }
    <ThemeToggleButton client:only />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur  ring-white/10;
    }
  }
</style>
